.themes-modal-container {
    position: relative;
  }
  
  .button-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .button-gear {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .gear-icon {
    font-size: 2rem; 
    color: rgba(255, 255, 255, 0.4); 
    transition: transform 0.3s ease-in-out; 
  }
  
  .gear-icon:hover {
    transform: rotate(360deg); 
  }
  