.themes-modal-container {
    position: relative;
  }
  
  .button-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .button-gear {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .gear-icon {
    font-size: 2rem; /* Adjust the size as needed */
    color: rgba(255, 255, 255, 0.4); /* Set the color to your preference */
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth rotation */
  }
  
  .gear-icon:hover {
    transform: rotate(360deg); /* Rotate the gear on hover */
  }
  