@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
