body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: yellow;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed; 
  height: 100vh;
}
