@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/youtube-sans');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #222;
  color: #fff;
}
.theme-selector {
  text-align: center;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-custom {
  margin-top: 200px !important;
}
.label{
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 200;
  background-color:  rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 4px;
  border-radius: 10px;
}

.anime-logos {
  display: flex;
  justify-content: center;
  gap: 8px; 
}

.anime-logos a {
  text-decoration: none;
  color: inherit;
}

.anime-logos img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.anime-logos img:hover {
  transform: scale(1.1);
}



/* Add your modern styling here */

.quote-container {
  text-align: center;
}

.quote-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border: 1px solid #222;
  border-radius: 10px;
}

.quote-box h1 {
  font-size: 24px;
  color: #ffffff;
  border-bottom: #fff solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.quote-box h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container .form-control {
  width: 70%;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #333;
  border: 1px solid #222;
}

 .btn-secondary {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}







@media screen and (max-width: 400px) {
  .label {
    font-size: 0.7rem;
  }

  .anime-logos img {
    width: 60px;
  }
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;

  text-align: center;
  min-width: max-content;
}


@media screen and (max-width: 1000px) {
  .label {
    font-size: 0.9rem;
  }
  .quote-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .quote-box h1 {
    font-size: 18px;
  }
  
  .quote-box h2 {
    font-size: 16px;
    margin-bottom: 13px;
  }
}
